:root {
  --color-bg: #d6d2dc;
  --color-main: #301e4e;
  --pink: #ff6e6c;
  --fz-heading: 40px;
}

body {
  background-color: var(--color-bg);
  font-weight: 600;
}

.top-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 25rem;
  background-color: var(--color-main);
  color: #fff;
  clip-path: ellipse(120% 100% at 53.5% 0%);
}

.big-heading {
  font-size: var(--fz-heading);
}

.top-section h1 {
  margin-block: 8rem 1rem;
  font-weight: 800;
  font-size: var(--fz-heading);
}

.question-container {
  margin-top: -5rem;
  position: relative;
  margin-bottom: 8rem;
}

.inner {
  width: 90%;
  max-width: 40rem;
  background-color: #fff;
  padding: 1rem;
  margin: 0.8rem auto;
  border-radius: 0.2rem;
}

.inner div {
  padding-inline: 1rem;
}

.question {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #737373;
  color: var(--pink);
  position: relative;
}

.answer {
  margin-top: 1rem;
}

.question svg {
  width: 1rem;
  position: absolute;
  top: 0;
  right: 2rem;
  fill: var(--pink);
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  gap: 2rem;
  /* width: 95%; */
  /* margin: auto; */
  background-color: #fff;
}

.contact-section div {
  width: 100%;
  max-width: 40rem;
  /* padding-inline: 2rem; */
  margin-block: 0.5rem;
}

.form-container {
  background-color: #ffc3bd;
  padding: 3rem 2rem;
}

.contact-section h2 {
  font-size: var(--fz-heading);
  color: var(--pink);
}

form input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  color: #232946;
  border: 1px solid #232946;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
}

form button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 5rem;
  font-family: inherit;
}

.contact-section img {
  height: 1.2rem;
  position: absolute;
}

.inline p {
  margin-left: 1.5rem;
}

footer {
  background-color: var(--color-main);
  color: #fff;
  min-height: 10rem;
  padding-inline: 3rem;
  padding-bottom: 1rem;
}

footer .logo {
  color: #fff;
}

footer a {
  text-decoration: none;
  color: inherit;
}

.footer-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer-second {
  margin-top: 1rem;
  text-align: center;
}

.footer-second > div {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.footer-second > p {
  margin-block: 1rem;
}

.subscribe-field {
  /* overflow: hidden; */
  border-radius: 4px;
  position: relative;
}

.subscribe-field input {
  padding: 0.5rem 1rem;
  outline: none;
  font-family: inherit;
  border: none;
}

.subscribe-field button {
  padding: 0.6rem;
  /* margin-left: -3px; */
  border: none;
  position: relative;
  background-color: red;
}

.subscribe-field svg {
  height: 0.7rem;
}
