@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

:root {
  --color-bg: #d6d2dc;
  --color-main: #301e4e;
  --color-btn: #ff6e6c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
}

header {
  /* color: #fff; */
  width: 100%;
  background-color: var(--color-bg);
  padding-inline: 2rem;
}

.primary-navigation {
  min-height: 5rem;

  display: flex;
  /* padding-inline: 2rem; */
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.primary-navigation div {
  /* padding-inline: 2rem; */
  text-align: center;
}

.primary-navigation ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 600;
}

.primary-navigation a {
  text-decoration: none;
  color: inherit;
}

.header-action .btn-link {
  padding: 0.5rem 3rem;
  border-radius: 0.25rem;
  margin-inline-end: 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  border: 2px solid var(--color-main);
}

.header-action .primary {
  color: var(--color-main);
}

.header-action .secondary {
  color: #fff;
  background-color: var(--color-main);
}
